@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: hsl(0 0% 100%);
  --ring: hsl(217 91% 60%);
  --input: hsl(214 13% 93%);
  --muted: hsl(210 40% 98%);
  --accent: hsl(217 91% 95%);
  --border: hsl(214 13% 91%);
  --radius: 0.5rem;
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.05);
  --chart-1: hsl(217 91% 60%);
  --chart-2: hsl(212 100% 47%);
  --chart-3: hsl(221 83% 53%);
  --chart-4: hsl(230 100% 69%);
  --chart-5: hsl(195 100% 50%);
  --popover: hsl(0 0% 100%);
  --primary: hsl(221 83% 53%);
  --sidebar: hsl(0 0% 100%);
  --spacing: 0.25rem;
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Inter', sans-serif;
  --secondary: hsl(210 40% 98%);
  --shadow-lg: 0px 10px 15px -3px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 6px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.06);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 20px 25px -5px hsl(0 0% 0% / 0.1), 0px 10px 10px -5px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 1px hsl(0 0% 0% / 0.05);
  --background: hsl(0 0% 100%);
  --font-serif: 'Georgia', serif;
  --foreground: hsl(222 47% 11%);
  --shadow-2xl: 0px 25px 50px -12px hsl(0 0% 0% / 0.25);
  --shadow-2xs: 0px 1px hsl(0 0% 0% / 0.05);
  --destructive: hsl(0 84% 60%);
  --sidebar-ring: hsl(217 91% 60%);
  --sidebar-accent: hsl(217 91% 95%);
  --sidebar-border: hsl(214 13% 91%);
  --card-foreground: hsl(222 47% 11%);
  --sidebar-primary: hsl(221 83% 53%);
  --tracking-normal: 0em;
  --muted-foreground: hsl(215 16% 47%);
  --accent-foreground: hsl(221 83% 53%);
  --popover-foreground: hsl(222 47% 11%);
  --primary-foreground: hsl(0 0% 100%);
  --sidebar-foreground: hsl(222 47% 11%);
  --secondary-foreground: hsl(222 47% 11%);
  --destructive-foreground: hsl(0 0% 100%);
  --sidebar-accent-foreground: hsl(221 83% 53%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
}

.dark {
  --card: hsl(224 71% 4%);
  --ring: hsl(217 91% 60%);
  --input: hsl(223 27% 12%);
  --muted: hsl(223 47% 11%);
  --accent: hsl(224 71% 4%);
  --border: hsl(216 34% 17%);
  --radius: 0.5rem;
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.8);
  --chart-1: hsl(217 91% 60%);
  --chart-2: hsl(212 100% 47%);
  --chart-3: hsl(221 83% 53%);
  --chart-4: hsl(230 100% 69%);
  --chart-5: hsl(195 100% 50%);
  --popover: hsl(224 71% 4%);
  --primary: hsl(217 91% 60%);
  --sidebar: hsl(224 71% 4%);
  --spacing: 0.25rem;
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Inter', sans-serif;
  --secondary: hsl(222 47% 11%);
  --shadow-lg: 0px 10px 15px -3px hsl(0 0% 0% / 0.8), 0px 4px 6px -2px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 4px 6px -1px hsl(0 0% 0% / 0.6), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.8);
  --shadow-xl: 0px 20px 25px -5px hsl(0 0% 0% / 0.8), 0px 10px 10px -5px hsl(0 0% 0% / 0.4);
  --shadow-xs: 0px 1px hsl(0 0% 0% / 0.8);
  --background: hsl(224 71% 4%);
  --font-serif: 'Georgia', serif;
  --foreground: hsl(213 31% 91%);
  --shadow-2xl: 0px 25px 50px -12px hsl(0 0% 0% / 1);
  --shadow-2xs: 0px 1px hsl(0 0% 0% / 0.8);
  --destructive: hsl(0 63% 31%);
  --sidebar-ring: hsl(217 91% 60%);
  --sidebar-accent: hsl(216 34% 17%);
  --sidebar-border: hsl(216 34% 17%);
  --card-foreground: hsl(213 31% 91%);
  --sidebar-primary: hsl(217 91% 60%);
  --tracking-normal: 0em;
  --muted-foreground: hsl(215 20% 65%);
  --accent-foreground: hsl(210 40% 98%);
  --popover-foreground: hsl(213 31% 91%);
  --primary-foreground: hsl(222 47% 1%);
  --sidebar-foreground: hsl(213 31% 91%);
  --secondary-foreground: hsl(213 31% 91%);
  --destructive-foreground: hsl(0 0% 100%);
  --sidebar-accent-foreground: hsl(217 91% 60%);
  --sidebar-primary-foreground: hsl(222 47% 1%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
